=link_to 'New transaction',braintrees_path
=link_to 'Create new customer',customer_create_path
%br
%span.label
  Transaction ID:
%span.trans
  =@result.transaction.id
%br
%span.label
  Transaction Status:
%span.trans
  =@result.transaction.status