#container

%script{ type: 'text/template', id: 'library-template' }
  %h1
    Music Library
  %ul.albums

%script{ type: 'text/template', id: 'album-template' }
  %button.queue.add
    %img{src: '/img/add.png'}
  %button.queue.remove
    %img{src: '/img/remove.png'}
  %span.artist-name
    <%= artist %>
  %span.album-title
    <%= title %>

  %ol.tracks
    <% _.each(tracks, function(track) { %>
    %li
      <%= track.title%></li>
    <% }); %>

%script{ type: 'text/template', id: 'playlist-template' }
  %h1
    Playlist
  %nav
    %button.control.play
      Play
    %button.control.pause
      Pause
    %button.control.prev
      Prev
    %button.control.next
      Next
  %ul.albums

%br
= link_to 'page1',page1_path
%br
= link_to 'page2',page2_path
%br
= link_to 'page3',page3_path